.container {
  height: calc(100vh - 5.8rem);
  border-top-left-radius: 2rem;
  z-index: 2;
  background: #000;
  flex: 1;
  display: flex;
  overflow-y: hidden;
}

.outerBox {
  overflow-y: auto;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 2rem;
  width: 100%;
}

.box {
  border: 0.2rem solid #fff;
  width: 100%;
  min-height: 20rem;
  border-radius: 1.5rem;
  padding: 1rem;
}

.upperContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}

.updateBox {
  border: 0.2rem solid #fff;
  width: 40%;
  min-height: 20rem;
  border-radius: 1.5rem;
  padding: 1rem;
}

.analyticsBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.widget {
  background-color: #2e3038;
  border-radius: 2rem;
  color: #fcfcff;
  overflow: hidden;
}

.widgetHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem 1rem 2rem;
}

.widgetHeading {
  font-size: 2rem;
}

.widgetList {
  display: flex;
  flex-direction: column;
}

.widgetItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 2rem;
  border-bottom: 0.1rem solid #fcfcff;
}

.widgetTargetOpenBtn {
  background-color: #ff7a00;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1.2rem;
}

.widgetMeetingBtn {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.smallText {
  font-size: 0.9rem;
}

.eventImage {
  border-radius: 2rem;
}

.eventContent {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.widgetDesc {
  font-size: 1.3rem;
}

.iconTextGap {
  gap: 0.5rem;
}

.imageTextGap {
  gap: 1rem;
}

@media screen and (max-width: 780px) {
  .upperContainer {
    flex-direction: column;
  }
  .updateBox {
    width: 100%;
  }
}
