* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

main {
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5.8rem;
}

.flex-row {
  display: flex !important;
  flex-direction: row !important;
}

.flex-rowJB {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.flex-rowAC {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.button-none {
  outline: none !important;
  border: none !important;
  background: transparent !important;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
