.overlapContainer {
  position: relative;
  height: 2rem;
}
.overlapItem {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
